.appHeader {
  text-align: center;
  background-color: #F76902;
  padding: 10px;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 2em;
}

main {
  padding: 0 5em 0 5em;
  flex: 1;
}

footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
}

footer p {
  opacity: 0.8;
}